.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

.navbar {
  margin: 0;
  width: 100%;
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}

.navbar li {
  border: none;
  margin-bottom: 0;
}

.nav-item {
  background-color: #F8F9FA;
}

a {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-size: 25px;
}

.create-recipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: 40%;
}

@media (max-width: 768px) {
  .create-recipe {
    width: 80%;
  }
}

.create-recipe form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h2 {
  margin-top: 0;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

img {
  width: 400px;
}

p {
  font-size: 12px;
}

.btn-primary {
  background-color: #00A35C!important;
  border-color: #00A35C!important;
}

.btn-primary:hover {
  background-color: #14591D!important;
  border-color: #14591D!important;
}

.link {
  font-size: 18px;
  color: #00A35C;
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
  color: #14591D;
}

/* Style the container */
.saved-recipes-container {
  padding: 20px;
  text-align: center;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Style the heading */
.saved-recipes-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Style each recipe item */
.recipe-item {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.recipe-item img {
  max-width: 100%;
  height: auto;
}

/* Style the "No saved recipes" message */
.no-saved-recipes {
  font-size: 18px;
  color: #555;
}

.card-body {
  width: 100%;
}

.card-text {
  font-size: 16px;
  margin-bottom: 16px!important;
  width: 100%;
}

.instructions {
  font-size: 16px;
  margin-bottom: 16px!important;
  width: 100%;
}

.ingredient-list {
  list-style-type: disc;
  border: none!important;
}

.home-container {
  width: 80vw;
}